<div class="col-md-3"></div>
    <div class="col-sm-10">
        <h2 class="form-signin-heading">List Of Clinics</h2>
        <table class="table table-striped" id = "mark">
            <thead>
                <tr>
                    <th>  </th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Description</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clinic of clinics; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ clinic.name}}</td>
                    <td>{{ clinic.address}}</td>
                    <td>{{ clinic.description}}</td>
                    <td><button type="button" class="btn btn-primary"  id="open" (click) = "onOpen(clinic)"><i class="far fa-eye">Show all doctors</i></button></td>
                    <td><button type="button" class="btn btn-primary"  id="open" ><i class="far fa-eye">Premade appointments</i></button></td>
                </tr>
            </tbody>
        </table>
        <app-doctor-choice *ngIf="clinicChosen">

        </app-doctor-choice>
    </div>
    
