<div class="col-md-3"></div>
    <div class="col-sm-10">
        <h2 class="form-signin-heading">List Of Clinics</h2>
        <input
        type="text"
        class="form-control"
        name="searchStringC"
        placeholder="Type to search..."
        [(ngModel)]="searchStringC"
      />
        <table matSort (matSortChange)="sortClinics($event)" class="table table-striped" id = "mark">
            <thead>
                <tr>
                    <th>  </th>
                    <th mat-sort-header="name" >Name</th>
                    <th mat-sort-header="address" > Address</th>
                    <th mat-sort-header="description" >Description</th>
                    <th mat-sort-header="rating"> Rating</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clinic of sortedClinics| filter : 'name' : searchStringC; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ clinic.name}}</td>
                    <td>{{ clinic.address}}</td>
                    <td>{{ clinic.description}}</td>
                    <td>{{ calculateAverage(clinic) }}</td>
                    <td><button type="button" class="btn btn-primary"  id="open" (click) = "onOpen(clinic)"><i class="far fa-eye">Show all doctors</i></button></td>
                    <td><button type="button" class="btn btn-primary"  id="open_predefined" (click) = "openPredefined(clinic)"><i class="far fa-eye">Predefined appointments</i></button></td>
                </tr>
            </tbody>
        </table>
        <app-doctor-choice *ngIf="clinicChosen">

        </app-doctor-choice>
    </div>
    <div class="col-md-3"></div>
    <div class="col-sm-10" *ngIf ="pred_chosen">
        <h2 class="form-signin-heading">Predefined Exams</h2>
        <table class="table table-striped" id = "mark">
            <thead>
                <tr>
                    <th>  </th>
                    <th>Clinic</th>
                    <th>Date</th>
                    <th>Doctor</th>
                    <th>Start</th>
                    <th>Finish</th>
                    <th>Price</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exam of predefined_exams; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ exam.clinic}}</td>
                    <td>{{ exam.date}}</td>
                    <td>{{ exam.doctor}}</td>
                    <td>{{ exam.start}}</td>
                    <td>{{ exam.finish}}</td>
                    <td>{{ exam.price}}</td>
                    <td><button type="button" class="btn btn-primary"  id="reserve_predefined" (click) = "onReservePredefined(exam)"><i class="far fa-eye">Reserve Predefined</i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
