<nav class="navbar-expand-md">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Klinički Centar</a>
    </div>
    <ul class= "navbar-nav">
      <li class = "nav-item"><a class= "nav-link" *ngIf="isAdmin()" (click)="showAllRegistrationRequests()" id="registration_requests">Registration Requests</a></li>
      <li class = "nav-item"><a class= "nav-link" *ngIf="isAdmin()" (click)="createClinic()" id="create_clinic">Create Clinic</a></li>
      <li class = "nav-item"><a class= "nav-link" *ngIf="isAdmin()" (click)="createClinicAdmin()" id="create_clinic_admin">Create Clinic Admin</a></li>
      <li class = "nav-item"><a class= "nav-link" *ngIf="isClinicAdmin()" (click)="createDoctor()" id="create_doctor">Create Doctor</a></li>
      <li class = "nav-item"><a class= "nav-link" *ngIf="isClinicAdmin()" (click)="makePredefinedAppointment()" id="make_predefined_appointment">Make Predefined Appointment</a></li>
      <li class = "nav-item"><a class= "nav-link" *ngIf="isDoctor()" (click)="concludeExam()" id="conclude_exam">Conclude Exam</a></li>
      <li class = "nav-item"><a class= "nav-link" *ngIf="isPatient()" (click)="showPatientProfile()" id="patient_profile">My Profile</a></li>
      <li class = "nav-item"><a class= "nav-link" *ngIf="isPatient()" (click)="showClinics()" id="show_clinics">All Clinics</a></li>
      <li class = "nav-item"><a class= "nav-link" *ngIf="isPatient()" (click)="showExamHistory()" id="show_exam_history">My Exams</a></li>
      <li class = "nav-item"><a class= "nav-link" *ngIf="isPatient()" (click)="showMedicalHistory()" id="show_medical_history">My Medical History</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a *ngIf="!loggedIn()" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a *ngIf="!loggedIn()" href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a *ngIf="loggedIn()" (click)="logout()" id="logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a><li>
    </ul>
    
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>