<div class="col-md-9 personal-info">
    <h3>Create Clinic Admin</h3>
    <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Username:</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" id="username" name="username" [(ngModel)]="clinicAdmin.username" required>
                <p class="alert alert-warning box-msg" *ngIf="error_messages.username" style="color:red">Username must be between 3 and 20 characters..</p>
                <p class="alert alert-warning box-msg" *ngIf="error_messages.username_not_letter" style="color:red">Please enter valid username</p>
                <p class="alert alert-warning box-msg" *ngIf="error_messages.username_taken" style="color:red">Username taken</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Password:</label>
            <div class="col-lg-8">
                <input class="form-control" type="password" id="password" name="password" [(ngModel)]="clinicAdmin.password" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8">
                <div class="ui-select">
                    <label class="col-md-9 control-label">Choose Clinic:</label>
                    <select [(ngModel)]="clinicAdmin.clinic" name="clinic_admin_clinic">
                        <option *ngFor= "let c of clinics" [ngValue]="c">{{c}}</option>
                    </select>
                </div>
            </div>
          </div>
          <br>
          <div class="col-md-8">
            <input type="button" class="btn btn-primary" value="Create" (click) = "createClinicAdmin()">
            <span></span>
          </div>
    </form>
  </div>
  

